@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold border-b border-black pb-2 mb-2;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  ul, ol {
    list-style: revert;
    @apply ml-5
  }
}

a {
  font-weight: 500;
  color: blue;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: rgba(102, 50, 124, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.texture{
  background-image: url("./assets/texture.png");
}

.paper{
  background-image: url("./assets/light-paper-fibers.png");
}

.content{
  text-shadow: 0px -0.5px rgba(0,0,0,0.1),
  -0.5px -0.5px rgba(0,0,0,0.1),
  -0.5px 0px rgba(0,0,0,0.1),
   0px 0.5px rgba(255,255,255,0.1),
   0.5px 0.5px rgba(255,255,255,0.1),
   0.5px 0px rgba(255,255,255,0.1)
   ;
}

.bg-shion{
  background-color: rgba(143, 119, 181, 1);
}

.border-purple{
  border-color: rgba(89,44,99,1.0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
